<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="w-full p-10 text-white h-screen bg-zinc-900">
      <h1 class="text-center uppercase font-bold text-5xl">
        Upload Profile Picture
      </h1>
      <form
        autocomplete="off"
        action="/upload"
        method="post"
        class="mt-5"
        enctype="multipart/form-data"
      >
        <input type="file" name="image" />

        <input
          type="submit"
          style="color: white"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-xl mt-5 transition duration-300 ease-in-out transform hover:scale-105"
          value="Upload File"
        />
      </form>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
